<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="81e873">  <td>18/04/03 15:53:16</td>   <td>0</td> <td title="&lt;&lt;LoginToDPMC.CloseBrowser()[pri:0, instance:com.Selenium.TestSuite.LoginToDPMC@2a742aa2]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@171497379</td>   <td></td> </tr>
<tr bgcolor="81e873">  <td>18/04/03 15:53:12</td>   <td>-4318</td> <td>&nbsp;</td><td title="&gt;&gt;LoginToDPMC.InitialiseLogin()[pri:0, instance:com.Selenium.TestSuite.LoginToDPMC@2a742aa2]">&gt;&gt;InitialiseLogin</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@171497379</td>   <td></td> </tr>
<tr bgcolor="73819a">  <td>18/04/03 15:53:12</td>   <td>-4255</td> <td>&nbsp;</td><td title="&gt;&gt;SettingMenu_Avamar.Initialise_Setting_Menu()[pri:0, instance:com.Selenium.TestSuite.SettingMenu_Avamar@7d70d1b1]">&gt;&gt;Initialise_Setting_Menu</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@171497379</td>   <td></td> </tr>
<tr bgcolor="81e873">  <td>18/04/03 15:53:12</td>   <td>-4224</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginToDPMC.LoginTest(java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:com.Selenium.TestSuite.LoginToDPMC@2a742aa2]">LoginTest</td> 
  <td>main@171497379</td>   <td></td> </tr>
<tr bgcolor="73819a">  <td>18/04/03 15:53:14</td>   <td>-2580</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SettingMenu_Avamar.XCS_TC_693_AvamarREgistrationValidation()[pri:0, instance:com.Selenium.TestSuite.SettingMenu_Avamar@7d70d1b1]">XCS_TC_693_AvamarREgistrationValidation</td> 
  <td>main@171497379</td>   <td></td> </tr>
<tr bgcolor="94e588">  <td>18/04/03 15:53:04</td>   <td>-12405</td> <td title="&gt;&gt;TestBase.initialize()[pri:0, instance:com.Selenium.TestSuite.SettingMenu_Avamar@7d70d1b1]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@171497379</td>   <td></td> </tr>
</table>
